<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <style>
    .game {
      display: flex !important;
      flex-direction: column;
    }

    h2 {
      margin: 5px;
    }
  </style>
</head>

<body>
  <nav><img src="/assets/images/Logo.svg" alt="Aura Hunt">
    <div>
      <a href="../" class="button-77" id="instructions">Instructions</a>
      <a href="../scoreboard" class="button-77" id="scoreboard">Scoreboard</a>
    </div>
  </nav>
  <div class="overlayer"></div>
  <main>
    <div class="modal-container">
      <input id="modal-toggle" type="checkbox">
      <label class="modal-backdrop" for="modal-toggle"></label>
      <div class="modal-content">
        <label class="modal-close" for="modal-toggle">&#x2715;</label>
        <p>Ready to Hunt Aura ?</p>
        <label class="button-77" id="alert-button" for="modal-toggle">OK</label>
      </div>
    </div>
    <div class="glitch">
      <div class="line">Aura Hunt</div>
      <div class="line">Aura Hunt</div>
      <div class="line">Aura Hunt</div>
      <div class="line">Aura Hunt</div>
      <div class="line">Aura Hunt</div>
      <div class="line">Aura Hunt</div>
      <div class="line">Aura Hunt</div>
      <div class="line">Aura Hunt</div>
      <div class="line">Aura Hunt</div>
    </div>
    <div data-attribute="<%=locals.id %>" class="game" id="game">
      <h2 id="gamename">
        <%=locals.name%>
      </h2>
      <p>
        <%=locals.description%>
        <span> Solving <% locals.score %></span>
      </p>
      <%if(locals.answer){%>
      <div>
        <div id="txt1" class="input">
          <span id="hide1" class="hide"></span>
          <input id="teamId" type="text" value="Answer here ...">
        </div>
        <button class="button-77" id="submit">Check</button>
      </div>
    </div>
    <script>
      const button = document.getElementById('submit');
      button.addEventListener('click', () => {
        const teamId = localStorage.getItem("teamId");
        const teamToken = localStorage.getItem("teamToken");
        const gameName = document.getElementById("gamename").innerText;
        const gameId = document.getElementById("game").getAttribute("data-attribute");
        const answer = document.getElementById("teamId").value.trim()
        const data = {
          teamId: teamId,
          teamToken: teamToken,
          gameId: gameId,
          gamename: gameName,
          answer: answer
        }
        if (!gameId || !teamId || !teamToken || !gameName) {
          document.querySelector(".modal-content p").innerText = "Please Log in Again";
          document.getElementById("modal-toggle").click();
          setTimeout(() => location.href = "../", 2000);
          document.querySelector("#alert-button").onclick = () => {
            location.href = "../";
          };
          return;
        }
        if (!answer || answer == "Answer here ...") {
          document.querySelector(".modal-content p").innerText = "Please Enter Your Answer";
          document.getElementById("modal-toggle").click();
          return;
        }
        fetch('/answer', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          })
          .then(response => response.json())
          .then(result => {

            console.log(result);
            if (result.message === 'Correct') {
              document.querySelector(".modal-content p").innerText = "Watch your aura increasing";
              document.getElementById("modal-toggle").click();
            } else if (result.message === "Wrong Answer") {
              document.querySelector(".modal-content p").innerText = `Wrong Answer,\n Remaining Attempts: ${result.rAttempts}`;
              document.getElementById("modal-toggle").click();
            } else {
              document.querySelector(".modal-content p").innerText = result.message
              document.getElementById("modal-toggle").click();
            }
          })
          .catch(error => {
            document.querySelector(".modal-content p").innerText = error.message;
            document.getElementById("modal-toggle").click();
          });
      });
    </script>
    <%}else{ %>
    <form id="form" method="post" enctype="multipart/form-data">
      <div>
        <label class="button-77" for="fileupload">Choose File</label>
        <span id="fileNameDisplay">No file chosen</span>
        <input hidden id="fileupload" type="file" name="file" accept=".jpg,.jpeg,.png" required>
      </div>
      <input hidden type="text" id="teamidsubmittion" name="teamid">
      <input hidden type="text" id="teamTokensubmittion" name="teamtoken">
      <input hidden value="<%=locals.name%>" type="text" id="gamenamesubmittion" name="gamename">
      <input hidden value="<%=locals.id%>" type="text" id="gameId" name="gameId">
      <div>
        <button class="button-77" id="submitrealButton">Submit</button>
      </div>
      <input style="display: none;" type="submit" class="button-77" value="Submit" id="submitButton">
    </form>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const form = document.getElementById("form");
        const teamId = document.getElementById("teamidsubmittion");
        const teamToken = document.getElementById("teamTokensubmittion");
        const gameName = document.getElementById("gamenamesubmittion");
        const gameId = document.getElementById("gameId");
        const fileUpload = document.getElementById("fileupload");
        const fileNameDisplay = document.getElementById("fileNameDisplay");

        // Populate fields with data from localStorage
        teamId.value = localStorage.getItem("teamId") || "";
        teamToken.value = localStorage.getItem("teamToken") || "";

        // Update file name display when a file is selected
        fileUpload.addEventListener("change", () => {
          fileNameDisplay.innerText = fileUpload.files[0] ? fileUpload.files[0].name : "No file chosen";
        });

        document.getElementById("submitrealButton").addEventListener("click", () => {
          if (!fileUpload.files[0]) {
            document.querySelector(".modal-content p").innerText = "Please Enter Your File";
            document.getElementById("modal-toggle").click();
            return;
          } else {
            document.getElementById("submitButton").click();
          }
        });

        form.addEventListener("submit", event => {
          event.preventDefault(); // Prevent the default form submission
          // Validate form data
          if (!gameId.value || !teamId.value || !teamToken.value || !gameName.value) {
            document.querySelector(".modal-content p").innerText = "Please Log in Again";
            document.getElementById("modal-toggle").click();
            setTimeout(() => location.href = "../", 2000);
            document.querySelector("#alert-button").onclick = () => {
              location.href = "../";
            };
            return;
          }
          const formData = new FormData(form);
          fetch('/upload', {
              method: 'POST',
              body: formData,
            })
            .then(response => response.json())
            .then(result => {
              if (result.message === 'File uploaded successfully') {
                document.querySelector(".modal-content p").innerText = "Waiting for Aura Master's review";
                document.getElementById("modal-toggle").click();

              } else {
                throw new Error(result.message);
              }
            })
            .catch(error => {
              console.error('Error uploading file:', error);
              alert('Error uploading file!');
            });
        });
      });
    </script>

    <% } %>
  </main>
  <footer>
    <div>
      <p>STEM High School for Boys - 6th of October</p>
    </div>
  </footer>
  <script src="/assets/js/game.js"></script>


</body>

</html>